/* Template 1- Mobile First Styles */

/* General CSS with mobile first approach */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background: #f7f7f9;
  height: 100vh;
  margin: 0;
}

/* counter image */
.counter-img {
  background-image: url(./images/counter.png);
  width: 8px;
  height: 8px;
  margin-top: 5px;
}

/* Button style */

/* Enabled button */
.submit-btn {
  box-sizing: border-box;
  padding: 12px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  color: #6070ff;
  width: fit-content;
  transition: background-color 0.5s ease;
}

/* Button on Hover */
.submit-btn:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

/* Button Active/pressed */
.submit-btn:active {
  color: #fff;
  background: #2230d2;
}

/* Button Disabled */
.submit-btn:disabled {
  color: #5e6c84;
  background-color: #6070ff;
  border: 1px solid #c1c7d0;
}

/* flex row */
.flex-row {
  display: flex;
  gap: 12px;
}

/* flex column */
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
}

/* bottom border */
.border-btm {
  border-bottom: 1px solid #dfe1e6;
}

/* Text alignmnent */
.text-align-center {
  text-align: center;
}

/* Primary Text */
.primary-text {
  width: 95%;
}

.primary-text-100 {
  width: 100%;
  padding: 0;
}

/* colors theme */
.color-white {
  color: #fff;
}

.color-N800 {
  color: #172b4d;
}

.color-N700 {
  color: #253858;
}

.color-N600 {
  color: #344563;
}

.color-N100 {
  color: #7a869a;
}

.color-N50 {
  color: #b3bac5;
}

.color-N40 {
  color: #dfe1e6;
}

.color-B500 {
  color: #396df2;
}

.color-B400 {
  color: #6070ff;
}

.color-B300 {
  color: #7f8cff;
}

.color-B50 {
  color: #ebebff;
}

.color-Black {
  color: #000;
}

/* font style */
.text-12 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.text-13-bold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.text-13 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.text-15 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.text-15-bold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.text-16 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text-16-bold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.text-17 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.text-17-LH-20 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.text-18 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.text-20 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.text-20-LH-28 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.text-32 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.text-32-b {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.text-40 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

/* Header Section Styles */

/* Header */
header {
  background-color: #fff;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
  box-sizing: border-box;
}

/* My logo */
.my-logo {
  height: 20px;
}

.my-logo a {
  text-decoration: none;
  height: 20px;
}

/* Headline */
.headline {
  width: 100%;
  height: 604px;
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  padding: 20% 5%;
  border-bottom-left-radius: 100px;
}

/* Work Section Styles */

/* project container */
.work-container {
  width: 100%;
  height: 50%;
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  gap: 88px;
}

body#popup-blur.active {
  filter: blur(20px);
}

/* Work Card */
.work-card {
  margin: auto;
  padding: 16px;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

/* Snapshoot Portfolio */
.portfolio-snapshot {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: auto;
  object-fit: contain;
}

/* Right block */
.right-block {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

/* project details */
.project-detail-container {
  width: 100%;
}

/* project stack list */
.project-stack li {
  text-decoration: none;
  list-style-type: none;
}

/* Tags */

/* Individual Tag */

/* tag texts */
.tags li {
  text-decoration: none;
  list-style-type: none;
}

.tag-btn {
  padding: 4px 12px;
  height: 24px;
  background-color: #ebebff;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

/* About me Section Styles */
.about-me-and-contact-form-section {
  position: relative;
}

/* About me container */
.about-me-section {
  padding: 30% 8%;
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 100px;
  height: 1263px;
}

/* About me Bottom Section */

/* skill sets */
.skill-card-open {
  width: 100%;
}

.language-list {
  width: 100%;
}

.language-list li {
  height: 66.72px;
  width: 100%;
  border-radius: 8px;
  padding: 12px 9px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  list-style-type: none;
  background: #f7f7f9;
}

/* Tool list */
.tool {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
  width: 100%;
}

/* social media icons */
.social-icons ul {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: baseline;
}

.social-icons ul li {
  text-decoration: none;
  list-style-type: none;
}

/* Contact Form */
.contact-form-section {
  position: absolute;
  padding: 30% 8%;
  gap: 52px;
  height: 846px;
  top: 80%;
  width: 100%;
  border-top-left-radius: 100px;
  background-color: #6070ff;
}

.form-div {
  gap: 20px;
}

.text-input,
.email-input {
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 16px;
}

.textarea-input {
  height: 170px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

.contact-form-bg {
  background-image: url(./images/contact-form-bg.png);
  object-fit: contain;
  position: absolute;
  top: 3.8%;
  left: 40%;
  height: 83%;
  width: 60%;
}

/* Media query for mobile phone screen */
@media screen and (min-width: 375px) {
  nav {
    display: none;
  }

  /* Mobile menu navigation style */
  .show-menu {
    transform: translateX(-100%);
  }

  .mobile-menu {
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-image: url(./images/overlay.png);
    backdrop-filter: blur(7px);
    mix-blend-mode: multiply;
    transition: all 0.5s ease-in;
  }

  .mobile-menu img {
    position: relative;
    left: 80%;
    top: 5%;
  }

  .mobile-menu a {
    text-decoration: none;
  }

  .mobile-menu ul {
    gap: 24px;
    position: absolute;
    width: 351px;
    height: 184px;
    left: 12px;
    top: 80px;
    list-style-type: none;
    padding: 16px 16px;
  }

  /* Mobile version Pop up style */
  .overlay-preview {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f7f7f9;
    backdrop-filter: blur(5px);
    mix-blend-mode: multiply;
    pointer-events: none;
    transition: 200ms ease-in-out;
  }

  .overlay-preview.active {
    opacity: 1;
    pointer-events: all;
  }

  .preview .right-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
  }

  .preview {
    z-index: 10;
    padding: 24px;
    position: fixed;
    width: 90%;
    left: 50%;
    top: 50%;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
  }

  .preview.active {
    transform: translate(-50%, -50%) scale(1);
  }

  /* preview title */
  .preview-title {
    justify-content: space-between;
  }

  .preview-title img {
    object-fit: contain;
  }

  .work-preview .preview img:hover {
    transform: rotate(90deg);
  }

  .preview .submit-btn {
    margin: 0;
  }

  .divider {
    width: 303px;
    top: calc(50% - 0px / 2 - 0.5px);
    border: 1px solid #ebecf0;
  }

  .blur {
    filter: blur(10px);
    background: #c1c7d0;
    mix-blend-mode: multiply;
  }
}

/* Media Query for Desktop Sceen */
@media screen and (min-width: 768px) {
  .headline article {
    position: absolute;
    padding: 16% 16%;
  }

  /* Header */
  header {
    padding: 2% 8%;
  }

  .menu-container {
    display: none;
  }

  /* nav */
  nav {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    list-style-type: none;
  }

  nav a:hover {
    color: #6070ff;
  }

  nav a:active {
    color: #6070ff;
  }

  /* Headline */
  .headline {
    position: relative;
    width: 100%;
    height: 916px;
    background: #fff;
    border-bottom-left-radius: 100px;
    padding: 0;
    background-image: url(./images/Headerbg@2x.png);
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* Font styles for big screen */
  .big-screen-text-48 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .big-screen-text-40 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.37px;
  }

  .big-screen-text-40-LH-52 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .big-screen-text-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .big-screen-text-18-bold {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .big-screen-text-18 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .big-screen-text-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .big-screen-text-16-LH-30 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .big-screen-text-15 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  /* work section styles */
  .work-container {
    top: 916px;
  }

  .work-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 22px;
    width: 80%;
  }

  .right-block {
    margin: auto;
    padding: 24px;
    gap: 24px;
  }

  .switch-grids .grid-item-1 {
    grid-area: 1/2;
  }

  /* About me section */
  .about-me-section {
    height: 924px;
    padding: 5% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 22px;
  }

  /* language list */
  .language-list {
    display: flex;
    row-gap: 12px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .language-list li {
    height: 120px;
    width: 122px;
    border-radius: 8px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  /* Contact Form */
  .contact-form-section {
    position: absolute;
    padding: 10% 30%;
    gap: 52px;
    height: 846px;
    top: 70%;
    background-image: url(./images/contact-form-bg@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .form-div {
    gap: 27px;
    margin: auto;
  }

  .text-input,
  .email-input {
    height: 48px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    padding-left: 16px;
  }

  .textarea-input {
    height: 170px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    padding: 15px 38px 15px 16px;
  }

  .submit-btn {
    margin: auto;
  }

  .contact-form-section article p {
    transition: all 0.5s ease-in-out;
  }

  .contact-form-section article p:hover {
    transition: all 0.5s ease-in-out;
    transform: translate(20px);
  }

  /* My logo */
  .my-logo {
    animation: rotateLogo 0.5s linear;
  }

  @keyframes rotateLogo {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .mobile-menu {
    display: none;
  }

  /* Desktop version Pop up style */
  .overlay-preview {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f7f7f9;
    backdrop-filter: blur(5px);
    mix-blend-mode: multiply;
    pointer-events: none;
    transition: 200ms ease-in-out;
  }

  .overlay-preview.active {
    opacity: 1;
    pointer-events: all;
  }

  .preview .right-block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    padding: 0;
    margin: 31px 0 0 0;
  }

  .preview {
    padding: 24px 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 96%;
    background: #fff;
    border: 1px solid #ebecf0;
    transform: translate(-50%, -50%) scale(0);
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    overflow: auto;
    max-height: 715px;
  }

  .portfolio-snapshot-desktop {
    object-fit: cover;
    height: 26rem;
    margin: 0;
  }

  .divider {
    width: 298px;
  }

  .preview .submit-btn img {
    width: 20px;
    height: 20px;
  }

  .project-action-btn.flex-row {
    width: fit-content;
  }
}
