/* Template 1- Mobile First Styles */

/* General CSS with mobile first approach */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  background: #f7f7f9;
  height: 100vh;
  margin: 0;
}

/* Button style */

/* Enabled button */
.submit-btn {
  box-sizing: border-box;
  padding: 12px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  color: #6070ff;
  width: fit-content;
}

/* Button on Hover */
.submit-btn:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

/* Button Active/pressed */
.submit-btn:active {
  color: #fff;
  background: #2230d2;
}

/* Button Disabled */
.submit-btn:disabled {
  color: #5e6c84;
  background-color: #6070ff;
  border: 1px solid #c1c7d0;
}

/* flex row */
.flex-row {
  display: flex;
  gap: 12px;
}

/* flex column */
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
  margin: auto;
}

/* bottom border */
.border-btm {
  border-bottom: 1px solid #dfe1e6;
}

/* Text alignmnent */
.text-align-center {
  text-align: center;
}

/* Primary Text */
.primary-text {
  width: 95%;
  box-sizing: border-box;
}

/* colors theme */
.color-white {
  color: #fff;
}

.color-N800 {
  color: #172b4d;
}

.color-N700 {
  color: #253858;
}

.color-N600 {
  color: #344563;
}

.color-N100 {
  color: #7a869a;
}

.color-N50 {
  color: #b3bac5;
}

.color-N40 {
  color: #dfe1e6;
}

.color-B500 {
  color: #396df2;
}

.color-B400 {
  color: #6070ff;
}

.color-B300 {
  color: #7f8cff;
}

.color-B50 {
  color: #ebebff;
}

.color-Black {
  color: #000;
}

/* font style */
.text-12 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.text-13-bold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.text-13 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.text-15 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.text-15-bold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.text-16 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text-16-bold {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.text-17 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.text-17-LH-20 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.text-18 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.text-20 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.text-20-LH-28 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.text-32 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.text-40 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

/* Header Section Styles */

/* Header */
header {
  background-color: #fff;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
  box-sizing: border-box;
}

/* My logo */
.my-logo {
  height: 20px;
}

.my-logo a {
  text-decoration: none;
  height: 20px;
}

/* Headline */
.headline {
  position: absolute;
  width: 100%;
  height: 604px;
  top: 92px;
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
  padding: 112px 24px;
  border-bottom-left-radius: 15%;
}

/* Work Section Styles */

/* project container */
.work-container {
  position: absolute;
  top: 718px;
  width: 100%;
  height: 50%;
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  gap: 88px;
}

/* Work Card */
.work-card {
  margin: auto;
  padding: 16px;
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

/* Snapshoot Portfolio */
.portfolio-snapshot {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: auto;
  object-fit: contain;
}

/* Right block */
.right-block {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

/* project details */
.project-detail-container {
  width: 100%;
}

/* project stack list */
.project-stack li {
  text-decoration: none;
  list-style-type: none;
}

/* Tags */

/* Individual Tag */
.tag-btn {
  padding: 4px 12px;
  height: 24px;
  background-color: #ebebff;
  border-radius: 8px;
}

/* tag texts */
.tags li {
  text-decoration: none;
  list-style-type: none;
}

/* About me Section Styles */

/* About me container */
.about-me-section {
  padding: 114px 24px;
  gap: 24px;
  position: absolute;
  width: 100%;
  top: 3506px;
  background-color: #fff;
  border-top-right-radius: 100px;
  height: 1206px;
}

/* About me Bottom Section */
.skill-set-card {
  width: 100%;
}

/* skill sets */
.skill-card-open {
  width: 100%;
}

.language-list {
  width: 100%;
}

.language-list li {
  height: 66.72px;
  width: 100%;
  border-radius: 8px;
  padding: 12px 9px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  list-style-type: none;
  background: #f7f7f9;
}

/* Tool list */
.tool {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px;
  width: 100%;
}

/* social media icons */
.social-icons ul {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: baseline;
}

.social-icons ul li {
  text-decoration: none;
  list-style-type: none;
}

/* Contact Form */
.contact-form-section {
  padding: 114px 24px;
  gap: 52px;
  position: absolute;
  width: 100%;
  top: 4621px;
  border-top-left-radius: 100px;
  background-color: #6070ff;
}

.form-div {
  gap: 20px;
}

.text-input,
.email-input {
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding-left: 16px;
}

.textarea-input {
  height: 170px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

.contact-form-bg {
  background-image: url(./images/contact-form-bg.png);
  object-fit: contain;
  position: absolute;
  top: 3.8%;
  left: 40%;
  height: 83%;
  width: 60%;
}

/* Media query for mobile phone screen */
@media screen and (min-width: 375px) {
  nav {
    display: none;
  }
}

/* Media Query for Desktop Sceen */
@media screen and (min-width: 768px) {
  /* Header */
  header {
    padding: 2% 8%;
  }

  .menu-container {
    display: none;
  }

  /* nav */
  nav {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    list-style-type: none;
  }

  /* Headline */
  .headline {
    position: absolute;
    width: 100%;
    height: 846px;
    left: 0;
    top: 92px;
    background: #fff;
    box-sizing: border-box;
    border-bottom-left-radius: 15%;
  }

  .header-bg {
    position: absolute;
    width: 95%;
    left: 5%;
    top: 10px;
    background-image: url(./images/Headerbg@2x.png);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15% 12%;
    box-sizing: border-box;
  }

  /* Font styles for big screen */
  .big-screen-text-48 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .big-screen-text-40 {
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.37px;
  }

  .big-screen-text-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .big-screen-text-18-bold {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .big-screen-text-18 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .big-screen-text-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .big-screen-text-15 {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  /* work section styles */
  .work-container {
    top: 916px;
  }

  .work-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 22px;
    width: 80%;
  }

  .right-block {
    margin: auto;
    padding: 24px;
    gap: 24px;
  }

  .switch-grids .grid-item-1 {
    grid-area: 1/2;
  }

  /* About me section */
  .about-me-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 3150px;
    grid-gap: 22px;
    padding: 5% 5%;
    height: 924px;
  }

  /* language list */
  .language-list {
    display: flex;
    row-gap: 12px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .language-list li {
    height: 120px;
    width: 122px;
    border-radius: 8px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  /* Contact Form */
  .contact-form-section {
    padding: 10% 30%;
    gap: 52px;
    height: 846px;
    top: 4000px;
  }

  .form-div {
    gap: 27px;
    margin: auto;
  }

  .text-input,
  .email-input {
    height: 48px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    padding-left: 16px;
  }

  .textarea-input {
    height: 170px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    padding: 15px 38px 15px 16px;
  }

  .contact-form-bg {
    background-image: url(./images/contact-form-bg@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: scale-down;
    left: 2.5%;
    height: 95%;
    width: 95%;
  }

  .submit-btn {
    margin: auto;
  }
}
